/*  =============================
    Custom properties 
    ============================= */
    :root {
        --color1: #004D80; /* Primary accent colour */
        --color2: #4CE0D7;
        --color3: #993399;
    }

.skip-link {
    position: absolute;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    padding: 10px;
    padding-top: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    z-index: 1000;
    border-radius: 10px;
    pointer-events: none;
    transition: top 1s ease, opacity 1s ease, border-color 0.3s ease;
    border: 3px solid transparent;
}

/* @keyframes fadeInFromTop {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 15px;
        opacity: 1;
    }
} */

.skip-link:focus {
    pointer-events: auto;
    top: -8px;
    opacity: 1;
    background-color: white;
    outline: none;
    border-color: red;
}

/* Adding a transparent border to avoid focus border shifting */
.main-nav a {
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.main-nav a:focus {
    outline: none;
    border-color: red;
}

.planets a {
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
}

.planets a:focus {
    outline: none;
    border-color: red;
}

body {
    font-family: 'Lato', arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    font-family: 'Playfair+Display';
    font-weight: 100;
    display: flex;
    align-items: center;
}

.stripe {
    position: relative;
    z-index: 1;
    margin: 20px;
}

.stripe::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 19px;
    height: 15px;
    width: 140px;
    background-color: var(--color1);
    z-index: -1;
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: transparent;
    transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease, font-size 0.4s ease;
    display: inline-block;
}

nav li {
    margin-left: 15px;
}

.main-nav a:hover {
    transform: scale(1.15);
    background-color: var(--color2);
    color: black;
    z-index: 1;
}

.main-nav a.active {
    background-color: var(--color1);
}

.main-nav a.active:hover {
    background-color: var(--color2);
    color: black;
}

.hero-container {
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 50px 5px rgba(108, 108, 2, 0.438);
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    overflow: visible;
    border-radius: 30px;
    z-index: 1;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/milky-way.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    animation: zoom 10s infinite alternate;
    z-index: 0;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

.colourShift {
    margin-left: 8px;
    font-weight: bolder;
    background: -webkit-linear-gradient(45deg, var(--color1), var(--color2));
    background-size: 300% 200%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textScroll 10s infinite alternate;
}

@keyframes textScroll {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}

.meet-the-locals {
    margin-top: 50px;
}

.planets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.planets a {
    color: white;
    text-decoration: none;
}

/* .planets a:visited {
    color: #006699;
} */

.planets > div {
    text-align: center;
}

.planets img {
    width: 100%;
    height: auto;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    background-color: var(--color3);
    color: white;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

.learn-more:hover {
    background-color: var(--color2);
    color: black;
    transform: scale(1.15);
}

/* .learn-more:visited {
    background-color: #006699;
    color: white;
} */

.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media screen and (max-width: 499px) {  
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -25px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }

    nav li {
        margin-left: 0;
    }

    nav a {
        padding: 5px 15px;
        text-align: center;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .meet-the-locals {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .planets {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 30px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -25px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;
    }

    nav li {
        margin-left: 0;
    }

    nav a {
        padding: 5px 15px;
        text-align: center;
    }

    .meet-the-locals {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .planets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 30px;
        text-align: center;
        width: 100%;
    }
}